<input type="text" [(ngModel)]="search">

{{search}}
<ul>
  <li *ngFor="let hero of (heroes | availableHeroes | searchHero:search)">
      <app-hero 
      [selectedHero]="hero"
      (notify)="dislayMsg($event)">
      </app-hero>
  </li>
</ul>